$main-color:#34495e;
$secondaty-color: #bdc3c7;
$link: #9b59b6;
$dark: #333;
$light: #ecf0f1;

a {
    color: $link;
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background: $main-color;
    border: solid thin $main-color;
    &:focus, &:active, &:hover {
        background: darken($main-color, 5%);
        -webkit-box-shadow: 0 0 0 0.1rem rgba(100, 100, 100, 0.5);
        box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5); 
    }
}
.home {
	width: 100%;
	display: block;
	.sidebar {
		// border: solid thin #333;
		background: $secondaty-color;
		padding: 20px 15px;
		margin: 0px;
		width: 100%;
		vertical-align: top;
		.add-btn {
			font-size: small;
			background: $main-color;
			border: solid thin $main-color;
			&:focus, &:active {
				background: darken($main-color, 5%);
				-webkit-box-shadow: 0 0 0 0.1rem rgba(100, 100, 100, 0.5);
				box-shadow: 0 0 0 0.2rem rgba(100, 100, 100, 0.5); 
			}
		}
		select {
			width: 100%;
			background: #fff;
			height: 30px;
			border: solid thin #333;
			border-radius: 0px;
			margin-bottom: 5px;
		}
	}
	.notes-content {
		width: 80%;
		margin: 15px auto;
	}
}
.notes, .flash {
    position: relative;
    .add-note-flash {
        height: 35px;
        font-size: small;
        position: absolute;
        top: -40px;
        right: 2px;
        button {
            height: 35px;
            font-size: small;
        }
    }
}
